@charset "utf-8";
/* CSS Document */

body {background-color:#FFE6C7} /*background of the website*/

#Logo 		{float:left; padding-top: 20px} /*moves the logo to the left*/
#Icon 		{float:right; padding-top: 20px} /*moves the icon to the right*/
#navigation 
{
	clear: both;
	border-top:solid black 2px;
	border-bottom:solid black 2px; 
	word-spacing: 35px;
	margin-bottom: 20px;
	padding:10px;
	font-family:Arial;
}

#navigation a {text-decoration: none;
  color: black; transition: all 0.2s ease;}
#navigation a:hover { color: #E89500;
  font-size: 18px;}

#Tajuk {float:left; width:675px;}
#Tajuk h1 
{
	color:#E89500;
	font-family:Arial;
	border-bottom: solid #B3B3B3 2px;height: 50px;
	margin-bottom: 25px;
	padding:8px;
	
}
#banner {}

#Tajuk p {font-family:Arial;}
#Tajuk img {clear:both;
		width:280px;
		border:solid #B3B3B3 2px;
		padding:6px;
		margin:10px}

#Abuja {float:right; width:200px;}
#Abuja h3 {color:#E89500; font-family:Arial;}
#Abuja h1 {font-family:Arial;}
#Abuja h2 {font-family:Arial;}
#Abuja p {font-family:Arial;}

#Footer {clear:both;border-top:solid #B3B3B3 2px;font-family:Arial;}
#Footer {text-align: center; padding-bottom: 2px;}

#wrapper{background-color: white;width:900px; margin: 0px auto;}
#wrapper2{background-color: white;width:1000px; margin: 0px auto;}

